<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800309727197-21e28i5crtrafjgmn718f1qqbqojdp45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800309727197-21e28i5crtrafjgmn718f1qqbqojdp45</string>
	<key>API_KEY</key>
	<string>AIzaSyAtmpzCw28G4VJObwUIXpB_oD2ym_W76Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>800309727197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vadym.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-6011a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-6011a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800309727197:ios:17784fc59001a1feeff034</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-6011a.firebaseio.com</string>
</dict>
</plist>